body {
    margin: 0;
    padding: 0;
    background-color: #7f5539;
    font-size: 16px; 
  }

  .fredoka__fonts {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @media screen and (min-width: 400px) and (min-height: 180px) and  (max-width: 12288px) and (max-height: 6480px) {
  
  .logo__vallis {
      display: flex;
      justify-content: center;
      margin: 1vh;
    }

  .conteiner__list {
      display: flex;
      justify-content: center;
      align-items: start;

      flex-direction: column;
    }
  
  .list__supplier {
    display: block;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 40rem;
    width: 100rem;
    margin-left: 29.5rem;
    border-radius: 1.2rem;
    flex-direction: column;
    background-color: #9c6644;
    }


  .t__body {
    display: flex;
    flex-direction: column;
    width: 80rem;
    height: 43.5rem;
    border: none;
    outline: none;
  }

.t__body tr:nth-child(even) {
  background-color: #ddb892; 
}

.t__body tr:nth-child(odd) {
  background-color: #ede0d4; 
}


  .modal__ID {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2.95rem;
    margin: 0.1rem;
  }
  
  .td__ID {
    color: #7f5539;
    font-size: 1.5rem;
  }

  .modal__razao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 2.95rem;
    margin: 0.1rem;
  }

  .td__razao {
    color: #7f5539;
    font-size: 1.5rem;
  }

  .modal__cnpj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2.95rem;
    margin-left: 0.1rem;
  }

  .td__cnpj {
    color: #7f5539;
    font-size: 1.5rem;
  }

  .add__supplier {
    width: 8.575rem;
    height: 2.95rem;
    border-radius: 1.2rem;
    border: none;
    margin-top: 2rem;
    margin-left: 31.5rem;
    outline: none;
    background-color: #9c6644;
    color: #ede0d4;
    font-size: 1.15rem;
    cursor: pointer;
    }

  .add__supplier:hover {
    font-size: 1.2rem;
    cursor: pointer;
    }

  .modal {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    }

  .conteudo__modal {
    background-color: #9c6644;
    height: 8rem;
    width: 68rem;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #7f5539;
    border-radius: 1.2rem;
    animation: animation__modal__add__supplier 1s ease-out;
  }
  
  @keyframes animation__modal__add__supplier {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    50% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
      opacity: 2;
      transform: translateY(0);
  }
  }

  .th__tr {
    color: #ddb892;
    font-size: 1.15rem;
    }

  .supplier , .cnpj , .rezao {
    width: 25.25rem;
    height: 2.75rem;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    margin: 0.375rem;
    background-color: #ddb892;
    font-size: 1.15rem;
    }

  .add {
    width: 9rem;
    height: 2.95rem;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    background-color:#7f5539;
    color: #ddb892;
    font-size: 1.15rem;
    cursor: pointer;
    }

  .add:hover {
    font-size: 1.3rem;
  }

  .botao__fechar { 
    width: 2.95rem;
    height: 2.95rem;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    margin-left: 2rem;
    background-color:#7f5539;
    color: #ddb892;
    font-size: 1.15rem;
    cursor: pointer;
    }

  .botao__fechar:hover {
    font-size: 1.5rem;

    }

  .add__sucesso{
    display: none;
    margin-left: 28rem;
    align-self: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #ede0d4;
  }

  .add__erro{
    display: none;
    margin-left: 26rem;
    align-self: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #ede0d4;
  }
  .cnpj__existe {
    display: none;
    margin-left: 26rem;
    align-self: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #ede0d4;
  }
}  