/*
 * O processo de criação dos Style CSS nessa documento passa pelo processo
 * de lógica simples, todas as classes são estruturadas da direito para a 
 * esquerda e, de cima para baixo, seguindo as ordem dos elementos pensados no HTML. 
 */
/******** A partir daqui está todo o estilo do corpo do documento login_page.html ********/
body {
  background-image: url('../Img/BG_Vallis.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

/* Fonte. */
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/*
* A classe .fredoka__fonts define a fonte padrão da aplicação.
* Obs: Mesmo que a classe .fredoka__fonts esteja no body do HTML, ela não será aplicada
* a todos os elementos, sendo necessário adicioná-la explicitamente ao elemento desejado no HTML.

  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
*/

/*
 * O método utilizado para garantir a adaptabilidade da tela em diversas resoluções foi a implementação de
 * 'MEDIA QUERIES', considerando as três resoluções principais: HD 1280x720p, FHD 1920x1080p e QHD 2560x1440p.
 * As 'MEDIA QUERIES' são responsáveis por ajustar o tamanho do pixel (px), que é a unidade de medida fundamental,
 * de acordo com a resolução da tela. Isso permite que os elementos se redimensionem de forma proporcional, mantendo
 * a consistência visual em diferentes dispositivos.
 * Para cada uma das resoluções especificadas, foi definido um tamanho base ou tamanho raiz para o pixel (px):
 * 8px para HD, 12px para FHD e 16px para QHD, este último sendo o padrão em muitos navegadores. É importante observar que 
 * poucos elementos são definidos com tamanho fixo em px, pois para garantir uma adaptação correta, é preferível
 * utilizar unidades relativas como 'REM' ou 'EM'. 
 */

/* Media query para resoluções HD */
  @media (max-width: 1366px) {
/* Definindo o tamanho da fonte raiz */
    html {
      font-size: 9px; /* 1 rem = 9px */
    }
    body {
      background-size: 1366px auto; /* Ajusta o tamanho do background para resoluções HD */
    }
  }
    
/* Media query para resoluções FHD */
  @media (min-width: 1367px) and (max-width: 1920px) {
/* Definindo o tamanho da fonte raiz */
    html {
    font-size: 12px; /* 1 rem = 12px */
    }
    
    body {
      background-size: 1920px auto; /* Ajusta o tamanho do background para resoluções FHD */
    }
  }
    
/* Media query para resoluções QHD */
  @media (min-width: 1921px) and (max-width: 2560px) {
/* Definindo o tamanho da fonte raiz */
    html {
      font-size: 12px; /* 1 rem = 16px */
    }
      
    body {
      background-size: 2560px auto; /* Ajusta o tamanho do background para resoluções QHD */
    }
  }

/*===========================================================================================================*/
/*====================================== Espaço reservado ao header. ========================================*/

/* Elementos do header. */
  .header__element {
    justify-items: center;
    display: flex;
    height: 6rem;
    justify-content: start;
    width: 100%;
  }

/* Defini o elemento onde fica o botão que abri o sidebar. */
  .sidebar__element {
    align-self: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    margin: 3rem 0rem 0rem 1.5rem;
    width: 6rem;
  }

/* Move a logo para ficar mais proximo do centro da tela. */
  .logo__element { 
    margin-left: 42%;
    margin-top: 0.5rem;
  }

/* Define o estilo da logo Vallis. */
  .logo__vallis {
    animation-name: animation__logo;
    animation-delay: 0.1s;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    height: 5rem;
    opacity: 0;
    transform: scale(0.5);
    width: auto;
  }

/* Aplicação da animação do logo__vallis. */
  @keyframes animation__logo {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

/*============================================= Final do Header =============================================*/
/* ========================================================================================================= */
/*============================================== Inicio do main =============================================*/

/* Tudo que está dentro do pagina listado abaixo. */ 
  #main {
    align-items: center;
    display: flex;
    justify-content: center;
  }

/* Elemento princial onde fica a tabela de fornecedores. */
  .conteiner__option {
    align-items:center;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 80rem;
    height: 25rem;
    animation:overflowAnimation 2.0s ease;
  }

/* Responsavel pela animação da tabela ao carregar a página. */
    @keyframes overflowAnimation {
      0% {
        transform: translateY(-2rem);
      }
      50% {
        transform: translateY(2rem);
      }
      100% {
        transform: translateY(0);
      }
    }

/* Elemento que define o card NF-E. */
  .card__NFE {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 25rem;
    background-color: #ddb892;
    border-radius: 1.2rem;
  }

/* Header card NF-e */
  .autorizacao__NFE {
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #7f5539;
    border-radius: 1.2rem 1.2rem 0 0 ;
    color: #ede0d4;
    font-size: 1.5rem;
    
/* Fonte.*/    
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Icone da NFE. */
  .icon__NFE {
    margin-top: 3rem;
    width: 8rem;
    height: 8rem;
    display: flex;
  }

/* Texto do card NFE */
  .txt__NFE {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f5539;
    font-size: 1.2rem;
    margin: 3rem 0.5rem 0rem;

  }

/* Elemento que define o card XML. */ 
  .card__XML {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 25rem;
    background-color: #ddb892;
    border-radius: 1.2rem;
  }

/* Header card XML. */
  .autorizacao__XML {
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #7f5539;
    border-radius: 1.2rem 1.2rem 0 0 ;
    color: #ede0d4;
    font-size: 1.5rem;

/* Fonte.*/    
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Icone da XML. */
  .icon__XML {
    margin-top: 3rem;
    width: 8rem;
    height: 8rem;
    display: flex;
  }

/* Texto do card XML */
  .txt__XML {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f5539;
    font-size: 1.2rem;
    margin: 3rem 0.5rem 0rem;
}

/* Elemento que define o card manual. */ 
  .card__manual {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 25rem;
    background-color: #ddb892;
    border-radius: 1.2rem;
  }

/* Header card manual. */
  .autorizacao__manual {
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #7f5539;
    border-radius: 1.2rem 1.2rem 0 0 ;
    color: #ede0d4;
    font-size: 1.5rem;

  /* Fonte.*/    
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Icone da manual. */
  .icon__manual {
    margin-top: 3rem;
    width: 8rem;
    height: 8rem;
    display: flex;
  }

  /* Texto do card XML */
  .txt__manual {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f5539;
    font-size: 1.2rem;
    margin: 3rem 0.5rem 0rem;
  }

  .conteiner__option [class^="card"]:hover {
    transition: 500ms;
    transition-delay: 4ms;
    cursor: pointer;
  }

  .conteiner__option [class^="card"]:hover {
    transform: scale(1.2, 1.2);
  }

  .conteiner__option:hover > [class^="card"]:not(:hover) {
    filter: blur(0.04rem);
    transform: scale(1);
  }

/* ========================================================================================================= */
/* ============================================ Stylo dos Cards ============================================ */

  .modal__manual{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center ;
    height: 100%; 
    left: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
  }

  .manual__element{
    display: flex;
    background-color: #ddb892;
    border-radius: 1.2rem;
    height: 17rem;
    width: 80rem;
    flex-direction: column;
  }

  .header__manual {
    display: flex;
    width: 100%;
    color: #ede0d4;
    font-size: 1.5rem;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    background-color: #7f5539;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }
  
  .header__title {
    color: #ede0d4;
    font-size: 1.5rem;
    margin-left: 29rem;
  }

  .close__modal__manual {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.95rem;
    height: 2.95rem;
    border: none;
    background-color: #7f5539;
    border-radius: 50%;
    margin-left: 23rem;
  }

  .X3 {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 0.2rem;
  }

  .Y3 {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: #fff;
    transform: rotate(-45deg);
    border-radius: 0.2rem;
  }

  .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40%;
    left: 70%;
    width: 3em;
    height: 1.7em;
    font-size: 16px;
    background-color: rgb(254, 255, 225);
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
    opacity: 0;
  }

  .close__modal__manual:hover {
    background-color: #910c0c;
    transition-delay: 0.2s;
    transition: 0.4s;
  }
/* ************************************************************************************************************************* */



/****************************************************************************************************************************/
  .element__store__supplier__number__data {
    align-items: center;
    border: none;
    display: flex;
    font-size: 1.2rem;
    height: 6rem;
    justify-content: space-evenly;
    outline: none;
    width: 80rem;
    flex-direction: row;
  }
/***************************************************************************************************************************/  
  .element__store {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0.5rem;
  }
  
  .store__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: 1rem;
  }
  
  .store__selector {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 15rem;
    border-radius: 1.2rem;
    
  }
  
  .select__store {
    display: flex;
    outline: none;
    background-color: #ede0d4;
    width: 92%;
    height: 2.5rem;
    border: none;
    border-radius: 1.2rem;
    color: #7f5539;
    
    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /**************************************************************************************************************************/
  
  .element__supplier {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0.5rem;
  }

  .supplier__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: 1rem;
  }
  
  .supplier__selector {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    outline: none;
    width: 30rem;
    border-radius: 1.2rem;
  }
  
  .select__supplier { 
    display: flex;
    outline: none;
    background-color: #ede0d4;
    width: 95%;
    height: 2.5rem;
    border: none;
    border-radius: 1.2rem;
    color: #7f5539;
    
    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
  }


/*****************************************************************************************************************************/



.element__numberNf {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0.5rem;
  }
  
  .number__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: 1rem;
  }
  
  .number__nf {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 15rem;
    border-radius: 1.2rem;
  }
  
  .numberNF__input {
    border: none;
    outline: none;
    background-color: #ede0d4;
    width: 85%;
    color: #7f5539;
    
    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .numberNF__input::placeholder {
    color: #7f5539;
    
    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /**********************************************************************************************************************/
  
  
  .element__data {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0.5rem;
  }
  
  .data__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: 1rem;
  }
  
  .data__doc {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 13rem;
    border-radius: 1.2rem;
  }

  .data__input {
    border: none;
    background-color: #ede0d4;
    width: 88%;
    outline: none;
    color: #7f5539;

    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .data__input::-webkit-calendar-picker-indicator {
    filter: invert(40%);
  }

/************************************************************************************************************************/

  .element__value__file__payment {
    align-items: center;
    border: none;
    display: flex;
    font-size: 1.2rem;
    height: 6rem;
    justify-content: flex-start;
    outline: none;
    width: 80rem;
    flex-direction: row;
  }
  
/******************************************************************************************************************************/

  .element__value {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-left: 1.4rem;
  }

  .value__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: 1rem;
  }

  .value__nf {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.2rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 10rem;
    border-radius: 1.2rem;
  
  }

  .value__input {
    width: 85%;
    color: #7f5539;
    border: none;
    background-color: #ede0d4;
    outline: none;
    
    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .value__input::placeholder {
    color: #7f5539;
    
    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/**********************************************************************************************************************/
  
  .element__file {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-left: 2rem;
  }

  .file__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: 1rem;
  }

  .export__file {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: flex-start;
    outline: none;
    width: 20rem;
    border-radius: 1.2rem;
  }

  .export__button {
    background-color: #9c6644;
    color: #ede0d4;
    width: 6rem;
    height: 100%;
    border-radius: 1.2rem 0rem 0rem 1.2rem;
    outline: none;

    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .export__button:hover {
    font-size: 1.3rem;
    background-color: #7a5237;
    transition: 0.4s;
    transition-delay: 0.2s ;
  }

  .file__container {
    width: 13.5rem; 
    height: 100%; 
    overflow: hidden; 
    position: relative; 
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
  }
  
  .file__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    position: absolute; 
    color: #7f5539;
    } 
    
  .file__name:hover {
      animation: slideText 8s linear infinite;    
  }
  
  @keyframes slideText {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }

/**/
  .element__payment {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-left: 2rem;
  }

  .payment__title {
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: -0.3rem;
  }

  .number__payment {
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.2rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 5.5rem;
    border-radius: 1.2rem;
  }

  .payment__input {
    width: 80%;
    color: #7f5539;
    border: none;
    background-color: #ede0d4;
    outline: none;
    border-radius: 1.2rem 0 0 1.2rem;
    margin-left: 0.5rem;

    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/**/
  .element__confirm {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    margin: 0.5rem 1rem 0 0 ;
    background-color: #9c6644;
    border-radius: 1.2rem;
    cursor: pointer;
    color: #ede0d4;

    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/**/
  .element__infInstall{
    display: none;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-left: 32rem;
    
  }

  .infInstall__title{    
    font-size: 1.5rem;
    color: #7f5539;
    margin-left: -0.5rem;
  }

  .number__infInstall{    
    align-items: center;
    background-color: #ede0d4;
    border: none;
    display: flex;
    font-size: 1.2rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 4rem;
    border-radius: 1.2rem;
  }

  .infInstall__output{    
    width: 80%;
    color: #7f5539;
    border: none;
    background-color: #ede0d4;
    outline: none;
    border-radius: 1.2rem 0 0 1.2rem;
    margin-left: 0.5rem;

    font-size: 1.2rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/**/
  .element__line {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 98%;
    height: 0.2rem;
    border-radius: 1.2rem;
    background-color: #7f5539;
  }

/* ====================================== Final dos Stulos dos Cards ======================================= */ 


/*============================================== Final do main ==============================================*/
/* ========================================================================================================= */
/*============================================= Inicio do footer ============================================*/

/* Elementos do footer */
  .footer__element{
    background-color:#7f5539;
    bottom: 0;
    display: none;
    height: 6rem;
    position: fixed;
    width: 100%;
  }

/*============================================= Final do footer =============================================*/
/* ========================================================================================================= */
