body {
    margin: 0;
    padding: 0;
    background-color: #7f5539;
    font-size: 16px; 
  }

  .fredoka__fonts {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @media screen and (min-width: 400px) and (min-height: 180px) and  (max-width: 12288px) and (max-height: 6480px) {
  
    .logo__vallis {
      display: flex;
      justify-content: center;
      margin: 1vh;
    }
    

}