/*
 * O processo de criação dos Style CSS nessa documento passa pelo processo
 * de lógica simples, todas as classes são estruturadas da direito para a 
 * esquerda e, de cima para baixo, seguindo as ordem dos elementos pensados no HTML. 
 */
/******** A partir daqui está todo o estilo do corpo do documento login_page.html ********/
body {
  background-image: url('../Img/BG_Vallis.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
  margin: 0%;
  padding: 0%;
  height: 100vh;
  overflow: hidden;

  scroll-behavior: smooth;
  
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Manipula o scrollbar da pagina  */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #9c6644;
  }
  ::-webkit-scrollbar-thumb {
    background: #ddb892;
    border-radius: 10px;
  }
/* Transição suave para a rolagem */
  html {
    scroll-behavior: smooth;
  }
/*
* A classe .fredoka__fonts define a fonte padrão da aplicação.
* Obs: Mesmo que a classe .fredoka__fonts esteja no body do HTML, ela não será aplicada
* a todos os elementos, sendo necessário adicioná-la explicitamente ao elemento desejado no HTML.

  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
*/

/*
* O método utilizado para garantir a adaptabilidade da tela em diversas resoluções foi a implementação de
* 'MEDIA QUERIES', considerando as três resoluções principais: HD 1280x720p, FHD 1920x1080p e QHD 2560x1440p.
* As 'MEDIA QUERIES' são responsáveis por ajustar o tamanho do pixel (px), que é a unidade de medida fundamental,
* de acordo com a resolução da tela. Isso permite que os elementos se redimensionem de forma proporcional, mantendo
* a consistência visual em diferentes dispositivos.
* Para cada uma das resoluções especificadas, foi definido um tamanho base ou tamanho raiz para o pixel (px):
* 8px para HD, 12px para FHD e 16px para QHD, este último sendo o padrão em muitos navegadores. É importante observar que 
* poucos elementos são definidos com tamanho fixo em px, pois para garantir uma adaptação correta, é preferível
* utilizar unidades relativas como 'REM' ou 'EM'. 
*/

/* Media query para resoluções HD */
  @media (max-height: 768px) {
/* Definindo o tamanho da fonte raiz */
    html {
      font-size: 9px; /* 1 rem = 9px */
    }
    body {
        background-size: auto 768px; /* Ajusta o tamanho do background para resoluções HD */
    }
  }
/* Media query para resoluções FHD */
  @media (min-height: 769px) and (max-height: 1080px) {
/* Definindo o tamanho da fonte raiz */
    html {
    font-size: 12px; /* 1 rem = 12px */
    }

    body {
      background-size: auto 1080px; /* Ajusta o tamanho do background para resoluções FHD */
    }
  }
/* Media query para resoluções QHD */
  @media (min-height: 1081px) and (max-height: 1440px) {
/* Definindo o tamanho da fonte raiz */
    html {
      font-size: 12px; /* 1 rem = 16px */
    }
  
    body {
      background-size: auto 1440px; /* Ajusta o tamanho do background para resoluções QHD */
    }
  }
/*===========================================================================================================*/
/*====================================== Espaço reservado ao header. ========================================*/
/* Elementos do header. */
  .header__element {
    justify-items: center;
    display: flex;
    height: 6rem;
    justify-content: start;
    width: 100%;
  }
/* Defini o elemento onde fica o botão que abri o sidebar. */
  .sidebar__element {
    align-self: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    margin: 3rem 0rem 0rem 1.5rem;
    width: 6rem;
  }
/*============================================= Final do Header =============================================*/
/* ========================================================================================================= */
/*============================================== Inicio do main =============================================*/
/* Tudo que está dentro do pagina listado abaixo. */ 
  #main {
    height: calc(100vh - 12rem);
    overflow-y: hidden;
  }
/* Elemento princial onde fica a tabela de fornecedores. */
  .conteiner__list {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    
    animation: slide-top 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
  }
/* Aplicação da animação do container__list */
  @keyframes slide-top {
    0% {
      transform: translateY(85rem);
    }
    50% {
      transform: translateY(-8rem) ;
    }
    100% {
      transform: translateY(0rem);
    }
  }
/* Elemento onde fica o Header da tabela de fornecedores. */
  .head__table {
    align-items: center;
    background: linear-gradient(to left top, #ddb892, #ede0d4);
    border-radius:  1.2rem 1.2rem 0rem 0rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.199);
    color: #7f5539;
    display: flex;
    flex-direction: row;
    height: 5rem;
    position: relative;
    width: 100rem;
    z-index: 0;
  }
/* Titulo de ID da tabela fornecedor. */
  .ID__head {
    font-size: 2rem;
    margin-left: 2rem;
    letter-spacing: 0.2rem;
    cursor: default;
  }
/* Titulo de razão social da tabela fornecedor. */
  .razao__head {
    margin-left: 19rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    cursor: default;
  }
/* Titulo de CNPJ da tabela fornecedor. */
  .cnpj__head {
    margin-left: 27rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    cursor: default;
  }
/* ******************************* Botão que abre o modal adicionar fornecedor. **************************** */
/* Botão de adicionar fornecedor. */
  .add__supplier {
    --color: #9c6644;
    align-items: center;
    background: transparent;
    border-radius: 1.2rem;
    border: 0.2rem solid #9c6644; 
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2.9rem; 
    left: 19rem;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    width: 10rem; 
    z-index: 1;

    color: #9c6644;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  .add__supplier::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 15rem;
    height: 10rem;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: 0.5s all;
  }
  .add__supplier:hover {
    color: #ddb892;
    border: 0.2rem solid var(--color);
    transition: 0.3s;
    transition-delay: 0.2s;
    background-color: #9c6644;
  }
  .add__supplier:hover::before {
    top: -30px;
    left: -30px;
  }
/* ************************ Final do botão que abrei o modal de adicionar fornecedor. ********************** */
/* Escaço da linha entre a HEADER e a Tabela. */
  .line__space {
    background-color: transparent;
    height: 0.5rem;
    width: 100rem;
    border-radius: 1.2rem;
  }
/*************************************************************************************************************/
/* ******************************* espaço reservado a lista de fornecedores. ******************************* */
/* Esse elemento ele defini o espaço onde a lista de fornecedores é gerada. */
  .list__supplier {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0 0 1.2rem 1.2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 42rem;
    overflow-y: auto;
    width: 100rem;
  }
/* Isso retira a barra de rolagem da tabela fornecedores, --webkit é suportado muitos navegadores, mas não todos. */  
  .list__supplier::-webkit-scrollbar {
    width: 0;
  }
/* Para retirar a barra de rolagem do Mozila FireFox. */
  .list__supplier {
    scrollbar-width: none;
  }
/* Body da tabela. */
  .t__body {
    animation: overflowAnimation 2.0s ease;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: none;
    width: 100rem;
  }
/* Responsavel por destacar as linhas da tabela com cores par e impar. */
  .t__body tr:nth-child(even) {
    background-color: #ddb892; 
  }
  .t__body tr:nth-child(odd) {
    background-color: #ede0d4; 
  }
/*************************************************************************************************************/
/* Aqui estão reservados as classes que são manipuladas pelo JavaScript para adicionar os elementos da tabela fornecedor.  */ 
/* Elemento ID. */
  .td__ID {
    color: #7f5539;
    font-size: 1.5rem;
  }
/* ID do fornecedor. */
  .show__ID {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 2.95rem;
    margin: 0.1rem;
    width: 5rem;
  }
/* Elemento da razão social. */
  .td__razao {
    color: #7f5539;
    font-size: 1.5rem;
  }
/* razão social do fornecedor. */ 
  .show__razao {
    align-items: center;
    display: flex;
    height: 2.95rem;
    justify-content: start;
    margin: 0.1rem;
    width: 50rem;
  }
/* Elemento CNPJ. */
  .td__cnpj {
    color: #7f5539;
    font-size: 1.5rem;
  }
/* CMPJ do fornecedor. */
  .show__cnpj {
    align-items: center;
    display: flex;
    height: 2.95rem;
    justify-content: center;
    margin-left: 0.1rem;
    width: 20rem;
  }
/* Elemento do reservado. */
  .td__space {
    height: 2.95rem;
    width: 18rem;
  }
/*  Espaço vazio para que consigo separar os elementos da tabela. Obs: pode servir para implementações futuras. */
  .modal__space {
  }
/* Elemento botão editar fornecedor. */
  .td__edit {
    height: 2.95rem;
    width: 6rem;
  }
/* Botão editar fonecedor. */
  .show__edit {
    align-items: center;
    background-color: transparent;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
    display: block;
    justify-content: center;
    height: 2.5rem;
    outline: none;
    position: relative; 
    width: 4rem;
  }
/* Icone do botão editar fornecedor. */
  .show__edit .edit-svgIcon {
    fill: #9c6644;
    height: auto;
    width: 1.5rem;
  }
/* Estilo da tooltip */
  .tooltip__edit {
    position: absolute;
    display: inline-block;
    bottom: 0%; 
    left: -46%;
    transform: translateX(-50%);
    margin-bottom: 0.125rem;
    padding: 0.58125rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 0.25rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    white-space: nowrap;
  }
/* Indicador do tooltip */
  .tooltip__edit::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -0.525rem;
    transform: translateY(-50%) rotate(180deg);
    border-width: 0.3125rem;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
  }
/* Exibir a tooltip quando o mouse estiver sobre o botão */
  .show__edit:hover .tooltip__edit {
    visibility: visible;
    opacity: 1;
  }
/* Elemento deletar fornecedor. */
  .td__delet {
    width: 6rem;
    height: 2.95rem;
  }
/* Botão deletar fornecedor. */
  .show__delet {
    align-items: center;
    background-color: transparent;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    outline: none;
    position: relative;
    width: 4.2rem;
  }  
/* Icone do botão excluir fornecedor. */
  .show__delet .delet-svgIcon {
    fill: #9c6644;
    height: auto;
    width: 1.5rem;
  }
/* Estilo da tooltip */
  .tooltip__delet {
    position: absolute;
    display: inline-block;
    bottom: 0%; 
    left: -50%;
    transform: translateX(-50%);
    margin-bottom: 0.125rem;
    padding: 0.58125rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius:  0.25rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    white-space: nowrap;
  }
/* Indicador do tooltip */
  .tooltip__delet::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -0.525rem;
    transform: translateY(-50%) rotate(180deg);
    border-width:  0.3125rem;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
  }
/* Exibir a tooltip quando o mouse estiver sobre o botão */
  .show__delet:hover .tooltip__delet {
    visibility: visible;
    opacity: 1;
  }

/* ************ Final dos elementos criados pelo JavaScript para criar a tabela de fornecedores. *********** */
/*************************************************************************************************************/
/* *************************************** Modal adicionar fornecedor ************************************** */
/* Elemento modal fornecedor. */
  .modal__add__supplier {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%; 
    left: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
/* Elemento modal fornecedor. */
  .element__add__supplier {
    align-items: center;
    animation: animation__modal__add__supplier 1s ease-out;
    background: linear-gradient(to left top, #ddb892, #ede0d4);
    border-radius: 1.2rem;
    border: 0.2rem solid #9c6644;
    display: flex;
    flex-direction: column;
    height: 13rem;
    margin: 25% auto; 
    padding: 1.5;
    width: 82rem;
  }
/* Animação exibida ao abrir o modal de adicionar fornecedor. */
  @keyframes animation__modal__add__supplier {
    0% {
      opacity: 0;
        transform: translateY(-9.4rem);
    }
    50% {
      opacity: 1;
      transform: translateY(2.5rem);
    }
    100% {
      opacity: 2;
      transform: translateY(0);
    }
  }
/* Elemento do header do modal. */
  .header__add__supplier {
    width:100%;
    height: 4rem;
    background-color: #9c6644;
    border-radius: 0.9rem 0.9rem 0 0 ;
    display: flex;
    align-items: center;
  }
/* Titulo do header do modal adicionar forncedor. */
  .header__title__add {
    margin-left: 32rem;
    color: #ede0d4;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  } 
/* Botão que fecha o modal adicionar fornecedor. */
  .close__add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.95rem;
    height: 2.95rem;
    border: none;
    background-color: #9c6644;
    border-radius: 50%;
    margin-left: 25rem;
  }
  .X3 {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 0.2rem;
  }
  .Y3 {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    background-color: #fff;
    transform: rotate(-45deg);
    border-radius: 0.2rem;
  }
  .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40%;
    left: 70%;
    width: 3em;
    height: 1.7em;
    font-size: 16px;
    background-color: rgb(254, 255, 225);
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
    opacity: 0;
  }
  .close__add:hover {
    background-color: #b22525;
    transition-delay: 0.2s;
    transition: 0.4s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  }
/* Elemento onde fica os input add. */
  .element__inputs__confirm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 6rem;
  }
/* Elmentos dos input add. */
  .supplier , .cnpj__element , .razao__element {
    align-items: center;
    background-color: #ddb892;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    display: flex;
    font-size: 1.2rem;
    height: 2.9rem;
    justify-content: center;
    margin: 0.375rem;
    outline: none;
    width: 30.5rem;
  }
/* Input do modal add. */
  .cnpj__add, .razao__add {
    align-items: center;
    background-color: #ddb892;
    color: #9c6644;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 28.25rem;
    
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Botão Confirmar add fornecedor. */ 
  .confirm__addSupplier {
      --color: #9c6644;
      align-items: center;
      background: transparent;
      border-radius: 1.2rem;
      border: 0.2rem solid #9c6644;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 2.9rem; 
      margin: 0.375rem 0.375rem 0 0;
      overflow: hidden;
      position: relative;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
      width: 10rem; 
      z-index: 1;
    
      color: #9c6644;
      font-family: "Fredoka", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
    .confirm__addSupplier::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 15rem;
      height: 11rem;
      z-index: -1;
      border-radius: 50%;
      top: 100%;
      left: 100%;
      transition: 0.5s all;
    }
    .confirm__addSupplier:hover {
      color: #ddb892;
      border: 0.2rem solid var(--color);
      transition: 0.3s;
      transition-delay: 0.2s;
      background-color: #9c6644;
    }
    .confirm__addSupplier:hover::before {
      top: -30px;
      left: -30px;
    }
/* Mensagem do modal adicionar fornecedor. */
/* Fornecedor adicionado com sucesso. */
  .add__sucess{
    align-self: center;
    color: #9c6644;
    display: none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
/* Campo vazio. */
  .add__erro{
    align-self: center;
    color: #9c6644;
    display: none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
/* CNPJ já existe mensagem erro. */
  .cnpj__exists {
    align-self: center;
    color: #9c6644;
    display: none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
/* *********************************** Final do modal Adicionar fornecedor ********************************* */
/*************************************************************************************************************/
/****************************************** Modal editar fornecedor **************************************** */
/* Elemento modal editar fornecedor. */
  .modal__edit__supplier {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%; 
    left: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
/* Elemento modal editar fornecedor. */
  .element__edit__supplier {
    align-items: center;
    animation: animation__modal__edit__supplier 1s ease-out;
    background: linear-gradient(to left top, #ddb892, #ede0d4);
    border-radius: 1.2rem;
    border: 0.2rem solid #9c6644;
    display: flex;
    flex-direction: column;
    height: 13rem;
    margin: 25% auto; 
    padding: 1.5;
    width: 82rem;
  }
/* Animação  exibida ao abrir o modal editar fornecedor. */
  @keyframes animation__modal__edit__supplier {
    0% {
      opacity: 0;
      transform: translateY(-9.4rem);
    }
    50% {
      opacity: 1;
      transform: translateY(2.5rem);
    }
    100% {
      opacity: 2;
      transform: translateY(0);
    }
  }
/* Elemento do header do modal. */
  .header__edit__supplier {
    width:100%;
    height: 4rem;
    background-color: #9c6644;
    border-radius: 0.9rem 0.9rem 0 0 ;
    display: flex;
    align-items: center;
  }
/* Titulo do header do modal adicionar forncedor. */
  .header__title__edit {
    margin-left: 33rem;
    color: #ede0d4;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  } 
/* Botão de fechar o modal editar fornecedor. */
  .close__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.95rem;
    height: 2.95rem;
    border: none;
    background-color: #9c6644;
    border-radius: 50%;
    margin-left: 27rem;
  }
  .X1 {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 0.2rem;
  }
  .Y1 {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: #fff;
    transform: rotate(-45deg);
    border-radius: 0.2rem;
  }
  .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40%;
    left: 70%;
    width: 3em;
    height: 1.7em;
    font-size: 16px;
    background-color: rgb(254, 255, 225);
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
    opacity: 0;
  }
  .close__edit:hover {
    background-color: #b22525;
    transition-delay: 0.2s;
    transition: 0.4s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  }
/* Elemento onde fica os input add. */
  .element__inputs__confirm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 6rem;
  }
/* Elementos do input edit. */
  .supplier , .cnpj__elementEdit , .razao__elementEdit {
    align-items: center;
    background-color: #ddb892;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    display: flex;
    font-size: 1.2rem;
    height: 2.9rem;
    justify-content: center;
    margin: 0.375rem;
    outline: none;
    width: 30.5rem;
  }
/* Input editar fornecedor. */
  .cnpj__edit, .razao__edit {
    align-items: center;
    background-color: #ddb892;
    border: none;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    width: 28.25rem;

    color: #9c6644;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Botão confirmar editar fornecedor */ 
  .confirm__edit {
    --color: #9c6644;
    align-items: center;
    background: transparent;
    border-radius: 1.2rem;
    border: 0.2rem solid #9c6644;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2.9rem; 
    margin: 0.375rem 0.375rem 0 0;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    width: 10rem; 
    z-index: 1;
  
    color: #9c6644;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
/* Comportamentos do botão confirmar editar fornecedor */
  .confirm__editSupplier {
    --color: #9c6644;
    align-items: center;
    background: transparent;
    border-radius: 1.2rem;
    border: 0.2rem solid #9c6644;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2.9rem; 
    margin: 0.375rem 0.375rem 0 0;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    width: 10rem; 
    z-index: 1;

    color: #9c6644;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  .confirm__editSupplier::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 15rem;
    height: 11rem;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: 0.5s all;
  }
  .confirm__editSupplier:hover {
    color: #ddb892;
    border: 0.2rem solid var(--color);
    transition: 0.3s;
    transition-delay: 0.2s;
    background-color: #9c6644;
  }
  .confirm__editSupplier:hover::before {
    top: -30px;
    left: -30px;
  }
/* Mensagem do modal editar fornecedor. */ 
/* Fornecedor editado com sucesso. */
  .edit__sucesso{
    align-self: center;
    color: #ede0d4;
    display: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
/* Erro ao editar. */
  .edit__erro{
    align-self: center;
    color: #ede0d4;
    display: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
/* CNPJ já existe mensagem erro. */
  .edit__exists {
    align-self: center;
    color: #ede0d4;
    display: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
/*============================================== Final do main ==============================================*/
/* ========================================================================================================= */
/*============================================= Inicio do footer ============================================*/
/* Elementos do footer */
  .footer__element{
    background-color:#7f5539;
    bottom: 0;
    display: none;
    height: 6rem;
    position: fixed;
    width: 100%;
  }
/*============================================= Final do footer =============================================*/
/* ========================================================================================================= */
