
body {
    margin: 0;
    padding: 0;
    background-color:#7f5539;

    
 }

 .container__login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
 }
