<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Public/Img/VALLIS_Icon_Aba_Navegador_.png" type="image/x-icon">
    <title> Vallis - Autorização de Pagamento</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/StyleAutorizacaoPagamentos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Public/script/autorizacao_manual.js"></script>
    <script src="../components/sidebar-nav.js"></script>
    <script src="../components/duplicate-component.js"></script>
  </head>

  <body>
<!-- INICIO DO HEADER. -->
    <header>
      <div class="header__element">
        <div class="sidebar__element">
          <side-bar-nav></side-bar-nav>
        </div>
        <div class="logo__element">
          <img class="logo__vallis" src="../Public/Img/VALLIS_Logo.png" alt="Logo Vallis">
        </div>
      </div>  
    </header>
<!-- FINAL DO HEADER. -->

<!-- INICIO DA MAIN. -->
    <div id="main">
<!-- CARDS COM A OPÇOES DE AUTORIZAÇÃO DE PAGAMENTO -->
      <div class="conteiner__option">
        <div class="card__NFE">
          <div class="autorizacao__NFE">Chave de Acesso NF-e</div>
          <img class="icon__NFE" src="../Public/Img/icon__NFe.png">
          <span class="txt__NFE">Nesse card você pode digitar a chave de acesso da nota fiscal eletrônica.</span>
        </div>
        <div class="card__XML">
          <div class="autorizacao__XML">XML</div>
          <img class="icon__XML" src="../Public/Img/icon__XML.png">
          <span class="txt__XML">Nesse card você pode importar uma arquivo XML e montar o formulário.</span>
        </div>
        <div class="card__manual" id="card__manual">
          <div class="autorizacao__manual" id=>Manual</div>
          <img class="icon__manual" src="../Public/Img/icon__manual.png">
          <span class="txt__manual">Nesse card você pode fazer o preenchimento dos campos manualmente.</span>
        </div>
      </div>
<!-- FINAL DOS CARDS COM AS OPÇÕES DE AUTORIZAÇÃO DE PAGAMENTO -->

<!-- TELAS DE MODAL QUANDO CLICADO EM ALGUM DOS CARDS OPCÕES -->
      <div class="modal__option">

<!-- MODAL CHAVE DE ACESSO NF-e -->
<!-- FINAL DO MODAL CHEVE DE ACESSO NF-e -->

<!-- MODAL XML -->
<!-- FINAL DO MODAL XML -->
    
<!-- MODAL AUTORIZAÇÃO MANUAL  -->
        <div class="modal__manual">
          <div class="manual__element">
            <div class="header__manual">
              <div class="header__title">Autorização de Pagamento Manual</div>
              <button class="close__modal__manual">
                <span class="X3"></span>
                <span class="Y3"></span>
              </button>
            </div>
            <div class="element__store__supplier__number__data">
              <div class="element__store">
                <div class="store__title">Escolha a Loja</div>
                <div class="store__selector">
                  <select class="select__store"></select>
                </div>
              </div>
              <div class="element__supplier">
                <div class="supplier__title">Escolha o Fornecedor</div>
                <div class="supplier__selector">
                  <select class="select__supplier"></select>
                </div>
              </div>
              <div class="element__numberNf">
                <div class="number__title">Número da NF</div>
                <div class="number__nf">
                  <input class="numberNF__input" type="text" placeholder="000.000.000">
                </div>
              </div>
              <div class="element__data">
                <div class="data__title">Emissão</div>
                <div class="data__doc">
                  <input class="data__input" type="date">
                </div>  
              </div>
            </div>
            <div class="element__value__file__payment">
              <div class="element__value">
                <div class="value__title">Valor da NF</div>
                <div class="value__nf">
                  <input class="value__input" type="text" placeholder="R$ 0,00">
                </div>
              </div>
              <div class="element__file">
                <div class="file__title">Exportar arquivo</div>
                  <div class="export__file">
                    <button class="export__button" type="file" accept=".pdf">Arquivo</button>
                    <input type="file" accept=".pdf" class="file__input">
                    <div class="file__container">
                      <div class="file__name"></div>
                    </div>
                  </div>
              </div>
              <div class="element__payment">
                <div class="payment__title">Parcelas:</div>
                  <div class="number__payment">
                    <select class="payment__input"></select>
                  </div>
              </div>
              <div class="element__infInstall">
                <div class="infInstall__title">Parcela:</div>
                  <div class="number__infInstall">
                    <output class="infInstall__output"></output>
                  </div>
              </div>
              </div>
            <div class="element__line"></div>
<!-- FINAL DO MODAL AUTORIZAÇÃO MANUAL -->

<!-- INICIO DUPLICATA -->
            <div class="element__duplicate">
             
            </div>
<!-- FINAL DUPLICATA -->

              <div class="element__confirm">
                <div class="button__confirm">Confirmar
                </div>
              </div>
              </div>
        </div>
<!-- FINAL DO MODAL AUTORIZAÇÃO MANUAL -->

      </div>
<!-- FINAL DOS MODAIS OPÇÕES -->

    </div>
<!-- FINAL DA MAIN. -->

<!-- iNICIO DO FOOTER. -->
    <footer>
      <div class="footer__element"></div>
    </footer>
<!-- FINAL DO FOOTER. -->
  </body>
</html>