<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vallis - Autorização de Pagamento</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/StyleCadastrarAutorizacaoPagamento.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Public/script/cadastrar_autorizacao_pagamento.js"></script>
    <script src="../components/sidebar-nav.js"></script>
  </head>

  <body>
<!-- INICIO DO HEADER. -->
    <header>
      <div class="header__element">
        <div class="sidebar__element">
          <side-bar-nav></side-bar-nav>
        </div>
        <div class="logo__element">
          <img class="logo__vallis" src="../Public/Img/VALLIS_Logo.png" alt="Logo Vallis">
        </div>
      </div>  
    </header>
<!-- FINAL DO HEADER. -->

<!-- INICIO DA MAIN. -->
    <div id="main">
      <div class="conteiner__option">
        <div class="card__NFE">
          <div class="autorizacao__NFE">Chave de Acesso NF-e</div>
          <img class="icon__NFE" src="../Public/Img/icon__NFe.png">
          <span class="txt__NFE">Nesse card você pode digitar a chave de acesso da nota fiscal eletrônica.</span>
        </div>
        <div class="card__XML">
          <div class="autorizacao__XML">XML</div>
          <img class="icon__XML" src="../Public/Img/icon__XML.png">
          <span class="txt__XML">Nesse card você pode importar uma arquivo XML e montar o formulário.</span>
        </div>
        <div class="card__manual">
          <div class="autorizacao__manual">Manual</div>
          <img class="icon__manual" src="../Public/Img/icon__manual.png">
          <span class="txt__manual">Nesse card você pode fazer o preenchimento dos campos manualmente.</span>
        </div>
      </div>
    </div>
<!-- FINAL DA MAIN. -->

<!-- iNICIO DO FOOTER. -->
    <footer>
      <div class="footer__element"></div>
    </footer>
<!-- FINAL DO FOOTER. -->
  </body>
</html>