<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="../Public/Img/VALLIS_Icon_Aba_Navegador_.png" type="image/x-icon">
      <title>Bem-vindo a Vallis - Login </title>
      <link rel="stylesheet" type="text/css" href="../Public/css/StyleLogin.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
      <script src="../Public/script/login.js"> </script> 
      <script src="../Public/script/token_manager.js"> </script> 
  </head>

  <body">
<!-- INICIO DO HEADER. -->
    <header>

    </header>
<!-- FINAL DO HEADER. -->

<!-- INICIO DA MAIN. -->
    <main class="main">
      <div class="container__login">
        <div class="login__font" alt="Login" aria-label="Login.">Login</div>
        <div class="login__element">
          <label for="username"></label>
            <div class="name__element">
              <input class="user__name" type="text" id="username" name="username" aria-label="Digite o nome do usuário." autocomplete="off" required placeholder="                               Usuário">
            </div>
            <label for="password"></label>
            <div class="password__element">
              <input class="pass__word" type="password" id="password" name="password" aria-label="Digite a senha do usuário" required placeholder="                                Senha">
            </div>
            <div class="button__element">
              <button class="button__submit" onclick="submitbutton()" alt="botão entrar.">Entrar</button>
            </div>
            <div class="empty__field">Por favor, preencha todos os campos!</div>
            <div class="invalid__credentials">Nome de Usuário ou senha invalido!</div>
            <div class="loader__element">
              <div class="loader__login"></div>
            </div>
        </div>
      </div>
    </main>
<!-- FINAL DA MAIN. -->

<!-- iNICIO DO FOOTER. -->
    <footer class="footer">
      <div class="footer__element">
        <div class="element__logo">
          <img class="vallis__logo" src="../Public/Img/VALLIS_Logo.png" alt="Vallis">
          <h1 class="vallis__txt">Soluções e Desenvolvimento</h1>
          <h1 class="vallis__txt1">em Tecnologia.</h1>
        </div>
        <div class="element__corporate">
          <div class="suport">SUPORTE
            <ul class="footer__suport">
              <li>
                <a class="link1" href="">FALE CONOSCO</a>
              </li>
              <li>
                <a class="link2" href="">@VALLISHELP</a>
              </li>
              <li>
                <a class="link3" href="">VALLIS SERVIÇOS</a>
              </li>
            </div>
            <div class="dev">DESENVOLVEDORES
              <ul class="footer__dev">
                <li>
                  <a class="link4" href="">EMPRESARIAL</a>
                </li>
                <li>
                  <a class="link5" href="">DOCUMENTAÇÃO</a>
                </li>
                <li>
                  <a class="link6" href="">PLATAFORMAS DE DESEMVOLVIMENTO</a>
                </li>
              </ul>
            </div>
            <div class="resouces">RECURSOS
              <ul class="footer__resouces">
                <li>
                  <a class="link7" href="">BUSCAR POR NOME DE DOMÍNIO</a>
                </li>
                <li>
                  <a class="link8" href="">TERMOS DE SERVIÇOS</a>
                </li>
                <li>
                  <a class="link9" href="">POLÍTICA DE PRIVACIDADE</a>
                </li>
                <li>
                  <a class="link10" href="">SOBRE</a>
                </li>
              </ul>
            </div>
            <div class="footer__up__down">
              <button class="up__down__button"><i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="copyright">Copyright © 2024 Vallis Developer | All rights reserved </div>
      </div>
    </footer>
  <!-- FINAL DO FOOTER. -->
  </body>
</html>