<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/StyleSupplier.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Public/script/supplier.js"></script>
    <script src="../components/sidebar-nav.js"></script>
</head>

<body>
    <header>
        <div class="header__element">
          <div class="sidebar__element">
            <side-bar-nav></side-bar-nav>
          </div>
          <div class="logo__element">
            <img class="logo__vallis" src="../Public/Img/VALLIS_Logo.png" alt="Logo Vallis">
          </div>
        </div>  
    </header>
    <div id="main">
        <div class="conteiner__list">
            <div class="list__supplier">
                <table>
                    <thead>
                        <div class="head__table">
                            <div class="ID__head">ID</div>
                            <div class="razao__head">Razão Social</div>
                            <div class="cnpj__head">CNPJ</div>
                        </div>
                    </thead>
                    <tbody class="t__body" id="t__body">
                    </tbody>
                </table>
            </div>
            <button class="add__supplier"> + Adicionar</button>
        </div>
        <div id="modal_adicionar" class="modal">
            <div class="conteudo__modal">
                <table>
                    <thead>
                        <tr class="th__tr">
                            <th class="fredoka__fonts">CNPJ</th>
                            <th class="fredoka__fonts">Razão Social</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="cnpj" id="CNPJ" type="text" name="cnpj"
                                    placeholder="                            Insira o CNPJ"></td>
                            <td><input class="rezao" id="razao__social" type="text" name="razao_social"
                                    placeholder="                         Insira a razão social"></td>
                            <td><button class="add" id="add">adicionar fornecedor</button></td>
                            <td><button class="botao__fechar">X</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="add__sucesso"> Fornecedor adicioando a lista.</div>
                <div class="add__erro"> Erro ao adicionar fornecedor.</div>
                <div class="cnpj__existe"> O CNPJ já existe.</div>
            </div>
        </div>
        <div id="modal_editar" class="modal">
            <div class="conteudo__modal">
                <input type="hidden" id="editar_id_fornecedor">
                <table>
                    <thead>
                        <tr class="th__tr">
                            <th class="fredoka__fonts">CNPJ</th>
                            <th class="fredoka__fonts">Razão Social</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="cnpj" id="editar_CNPJ" type="text" name="cnpj"
                                    placeholder="                            Insira o CNPJ"></td>
                            <td><input class="rezao" id="editar_razao_social" type="text" name="razao_social"
                                    placeholder="                         Insira a razão social"></td>
                            <td><button class="add" id="confirm_edit">Confirmar</button></td>
                            <td><button class="botao__fechar" id="botao_fechar_edit_modal">X</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="add__sucesso"> Fornecedor editado com sucesso</div>
                <div class="add__erro"> Erro ao editar fornecedor</div>
                <div class="cnpj__existe"> O CNPJ já existe.</div>
            </div>
        </div>
        <div class="modal__supplier__edit">
            <div class="conteudo__edit">
                <table>
                    <thead>
                        <tr class="th__edit">
                            <th>CNPJ</th>
                            <th>Razão social</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="cnpj__edit" type="text" name="cnpj"
                                    placeholder="                            Insira o CNPJ"></td>
                            <td><input class="rezao__edit" type="text" name="razao_social"
                                    placeholder="                         Insira a razão social"></td>
                            <td><button class="edit__supplier">Confirmar mudança</button></td>
                            <td><button class="fechar__edit">X</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
      <div class="footer__element">
      </div>
    </footer>
</body>